@model ProductosWEB.Models.Prestamo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Prestamo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden"asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuario_Id" class="control-label"></label>
                <input asp-for="usuario_Id" class="form-control" />
                <span asp-validation-for="usuario_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="articulo_Id" class="control-label"></label>
                <input asp-for="articulo_Id" class="form-control" />
                <span asp-validation-for="articulo_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_Prestamo" class="control-label"></label>
                <input asp-for="fecha_Prestamo" class="form-control" />
                <span asp-validation-for="fecha_Prestamo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_devolucion" class="control-label"></label>
                <input asp-for="fecha_devolucion" class="form-control" />
                <span asp-validation-for="fecha_devolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
