@model ProductosWEB.Models.Articulo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Articulo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" id="ArticuloId" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label" id="ArticuloNombreLabel"></label>
                <input asp-for="Nombre" class="form-control" id="ArticuloNombre" />
                <span asp-validation-for="Nombre" class="text-danger" id="ArticuloNombreValidation"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label" id="ArticuloDescripcionLabel"></label>
                <input asp-for="Descripcion" class="form-control" id="ArticuloDescripcion" />
                <span asp-validation-for="Descripcion" class="text-danger" id="ArticuloDescripcionValidation"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label" id="ArticuloCategoriaLabel"></label>
                <input asp-for="Categoria" class="form-control" id="ArticuloCategoria" />
                <span asp-validation-for="Categoria" class="text-danger" id="ArticuloCategoriaValidation"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label" id="ArticuloDisponibilidadLabel">
                    <input class="form-check-input" asp-for="Disponibilidad" id="ArticuloDisponibilidad" /> 
                    @Html.DisplayNameFor(model => model.Disponibilidad)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="ArticuloSaveButton" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" id="ArticuloBackToList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
